nav {
  max-width: max-content;
  margin: auto;
  padding: 2rem;

  .pagination {
    display: flex;
    justify-content: space-evenly;
  }

  .page-item {
    margin: 1rem;
    padding: 1rem;

    &.active {
      border-bottom: 2px solid red;
    }
  }
}
