nav {
  max-width: max-content;
  margin: auto;
  padding: 2rem;

  .pagination {
    display: flex;
    justify-content: space-evenly;
  }

  .page-item {
    margin: 0.5rem;
    padding: 0.5rem;

    button {
      padding: 0.5rem;
      font-size: 15px;
      cursor: pointer;
    }

    &.active {
      border-bottom: 2px solid red;
    }

    @media (max-width: 500px) {
      margin: 0;
    }
  }
}
