.results {
  margin-top: 2rem;
}

.user-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem auto;
  // padding: 0 1rem;

  .error-text {
    margin: 0 auto;
    grid-column-start: 2;
    color: white;

    span {
      color: red;
    }
  }

  @media (max-width: 786px) {
    grid-template-columns: 1fr 1fr;

    .error-text {
      grid-column-start: 1;
    }
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}
